.navbar {
  @apply flex items-center justify-between flex-wrap bg-gray-800 p-6;
  > .brand {
    @apply flex items-center flex-shrink-0 text-white mr-6;
  }
  > .brand > .title {
    @apply font-semibold text-2xl tracking-tight;
  }
  > .links {
    @apply w-full block self-end self-stretch;
    @screen lg {
      @apply flex items-center w-auto;
    }

    &.-mobile-hide {
      display: none;
      @screen lg {
        display: initial;
      }
    }
  }
  > .links > .link-item {
    @apply text-base mr-4;
    &:last-child {
      @apply mr-0;
    }
  }
  > .links > .link-item > .link {
    @apply block text-orange-500;
    cursor: pointer;
    &.-active {
      @apply text-orange-100;
    }
    &:hover {
      @apply text-white;
    }
    @screen lg {
      @apply inline-block mt-0;
    }
  }
}

.body {
  @apply p-6;
}
