section
  hr.hr
  h1.title Sign In
  hr.hr

section
  form
    .field
      label.label(for="email") Email
      .control
        input.input(id="email" type="email" placeholder="Email" required)

    .field
      label.label(for="password") Password
      .control
        input.input(id="password" type="password" placeholder="Password" required)

    .field
      .control
        button.button.is-link(type="submit") Submit
