<h1>Register Form</h1>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form">
  <div class="form-row text-red-500" [hidden]="uiState.errors.length === 0">
    <ul>
      <li *ngFor="let error of uiState.errors">
        {{error}}
      </li>
    </ul>

  </div>
  <div class="form-row" [ngClass]="{'-error': isInvalid(registerForm.controls.email)}">
    <label class="form-label" for="email">
      Email
    </label>
    <input formControlName="email" class="form-control" id="email" type="text" placeholder="Email" required>
    <div *ngIf="isInvalid(registerForm.controls.email) && registerForm.controls.email.errors?.required" class="error">
      <p>is required</p>
    </div>
    <div *ngIf="isInvalid(registerForm.controls.email) && registerForm.controls.email.errors?.email" class="error">
      <p>should be in email format</p>
    </div>
  </div>
  <div class="form-row mb-6" [ngClass]="{'-error': isInvalid(registerForm.controls.password)}">
    <label class="form-label" for="password">
      Password
    </label>
    <input formControlName="password" class="form-control" id="password" type="password" placeholder="******************" required>
    <div *ngIf="isInvalid(registerForm.controls.password) && registerForm.controls.password.errors?.required" class="error">
      <p>is required</p>
    </div>
  </div>
  <div class="form-row mb-6" [ngClass]="{'-error': isInvalid(registerForm.controls.passwordConfirmation)}">
    <label class="form-label" for="password">
      Password
    </label>
    <input formControlName="passwordConfirmation" class="form-control" id="password" type="password" placeholder="******************" required>
    <div *ngIf="isInvalid(registerForm.controls.passwordConfirmation) && registerForm.controls.passwordConfirmation.errors?.required" class="error">
      <p>is required</p>
    </div>
    <div *ngIf="isInvalid(registerForm.controls.passwordConfirmation) && registerForm.controls.passwordConfirmation.errors?.passConfirmValidator" class="error">
      <p>has to match the password</p>
    </div>
  </div>
  <div class="buttons">
    <button class="submit" type="submit">
      Sign Up
    </button>
    <div class="flex">
      <a class="link" href="#">
        Forgot Password?
      </a>
      <a class="link" routerLink="/login">
        Sign In
      </a>
    </div>
  </div>
</form>
