$white: #fff;
$black: #000;
$boulder: #777;
$mine: #333;
$gallery: #eee;
$silver: #ccc;
$blue: #1F8DD6;
$cod-gray: #191818;
$dusty-gray: #999;
$gray: #888;

$body-color: $boulder;
$header-color: $mine;
$header-border: $gallery;
$header-h2: $silver;
