nav.navbar(role="navigation" aria-label="main navigation")
  .navbar-brand
    a.navbar-item(href="#{Routes.page_path(@conn, :index)}")
      img(src="#{Routes.static_path(@conn, "/images/logo.svg")}" alt="Logo")
    a.navbar-burger.burger(role="button" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample")
      span(aria-hidden="true")
      span(aria-hidden="true")
      span(aria-hidden="true")
  #navbarBasicExample.navbar-menu
    .navbar-start
    .navbar-end
      .navbar-item
        .buttons
          a.button.is-primary(href="#{Routes.registration_path(@conn, :sign_up)}")
            strong Sign up
          a.button.is-light(href="#{Routes.session_path(@conn, :sign_in)}")
            | Log in
