<h1>Login Form</h1>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
  <div class="form-row text-red-500" [hidden]="uiState.errors.length === 0">
    <ul>
      <li *ngFor="let error of uiState.errors">
        {{error}}
      </li>
    </ul>

  </div>
  <div class="form-row" [ngClass]="{'-error': isInvalid(loginForm.controls.email)}">
    <label class="form-label" for="email">
      Email
    </label>
    <input formControlName="email" class="form-control" id="email" type="text" placeholder="Email" required>
    <div *ngIf="isInvalid(loginForm.controls.email) && loginForm.controls.email.errors?.required" class="error">
      <p>is required</p>
    </div>
    <div *ngIf="isInvalid(loginForm.controls.email) && loginForm.controls.email.errors?.email" class="error">
      <p>should be in email format</p>
    </div>
  </div>
  <div class="form-row mb-6" [ngClass]="{'-error': isInvalid(loginForm.controls.password)}">
    <label class="form-label" for="password">
      Password
    </label>
    <input formControlName="password" class="form-control" id="password" type="password" placeholder="******************" required>
    <div *ngIf="isInvalid(loginForm.controls.password) && loginForm.controls.password.errors?.required" class="error">
      <p>is required</p>
    </div>
  </div>
  <div class="buttons">
    <button class="submit" type="submit">
      Sign In
    </button>
    <div class="flex">
      <a class="link" href="#">
        Forgot Password?
      </a>
      <a class="link" routerLink="/register">
        Sign Up
      </a>
    </div>
  </div>
</form>
